.margin {
	margin: 8px;
}

.container {
	width: 50%;
	position: absolute;
	left: 25%;
	background-color: #d9e6f2;
}

.title {
	text-align: center;
	font-weight: bold;
}

.button {
	width: 60px;
}

.combobox {
	width: 130px;
    height: 28px;
}

.selectedProgress {
	border-style: outset;
	transition-property: all;
	transition-duration: .8s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}