@import 'color';

.button-container {
	text-align: right;
	margin: 2px 3px 5px 0px;
}

.button {
	width: 70px;
	margin: 3px;
	border-radius: 3px;
	border: 2px outset;
	background-color: $blue;
	color: $white;
	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
}

.button:hover {
	background-color: $dark-blue;
}
