$white: white;
$blue: #0088cc;
$dark-blue: #006699;
$blue-grey: #d9e6f2;
$sky: #87CEEB;
$dark-sky: #4399bb;
$orange: #ff5722;
$dark-orange: #cc8500;
$black: black;
$light-grey: #f1f1f1;
$yellow: #e6ac00;
$green: green;
$yellow-grey: #ffe699;
$green-grey: #c6ecc6;
$dark-yellow: #806000;
$dark-green: #264d00;
$grey: grey;
$red: red;