@import 'color';

.margin {
	margin: 8px;
}

.noPadding {
	padding: 0px;
}

.container {
	width: 50%;
	position: absolute;
	left: 25%;
	background-color: $blue-grey;
	padding: 5px;
	position: relative;
}

.title {
	text-align: center;
	font-weight: bold;
	position: relative;
}





