@import 'color';

.selectedProgress {
    border-bottom: 3px outset;
    background-color: $dark-sky !important;
	transition-property: all;
	transition-duration: .6s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.over100 {
	background-color: $orange !important;
}

.progress-bar {
	color: $black;
	background-color: $sky;
	text-align: center
}

.progress {
    background-color: $light-grey;
}