@import 'color';

.theme {
    text-align: left;
    margin: 10px 0px 0px 22px;
    .radio {
        margin: 0px 6px 0px 15px;
    }
    .label-blue {
        color: $blue; 
    }
    .label-yellow {
        color: $yellow;
    }
    .label-green {
        color: $green;
    }
}