.blue .button-container .button {
  background-color: #0088cc; }

.blue .button-container .button:hover {
  background-color: #006699; }

.yellow .button-container .button {
  background-color: #e6ac00; }

.yellow .button-container .button:hover {
  background-color: #806000; }

.green .button-container .button {
  background-color: green; }

.green .button-container .button:hover {
  background-color: #264d00; }

.button-container {
  text-align: left; }
  .button-container .button {
    width: 70px;
    margin: 6px 5px 6px 5px;
    border-radius: 3px;
    border: 2px outset;
    color: white;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s; }
