html, body {
  height: 100%;
  margin: 0; }

.full-screen {
  height: 100%;
  margin: 0; }

.margin {
  margin: 8px; }

.no-padding-left {
  padding-left: 0px !important; }

.container {
  height: 100%;
  padding: 8px;
  position: relative; }

.blue {
  background-color: #d9e6f2; }

.yellow {
  background-color: #ffe699; }

.green {
  background-color: #c6ecc6; }
