.blue .progress .progress-bar {
  background-color: #87CEEB; }

.blue .progress .over100 {
  background-color: #ff5722 !important; }

.blue .progress:hover .progress-bar {
  background-color: #4399bb; }

.blue .progress:hover .over100 {
  background-color: #cc8500 !important; }

.yellow .progress .progress-bar {
  background-color: #e6ac00; }

.yellow .progress .over100 {
  background-color: #ff5722 !important; }

.yellow .progress:hover .progress-bar {
  background-color: #806000; }

.yellow .progress:hover .over100 {
  background-color: #cc8500 !important; }

.green .progress {
  background-color: #f1f1f1; }
  .green .progress .progress-bar {
    background-color: green; }
  .green .progress .over100 {
    background-color: #ff5722 !important; }

.green .progress:hover .progress-bar {
  background-color: #264d00; }

.green .progress:hover .over100 {
  background-color: #cc8500 !important; }

.progress {
  position: relative;
  width: 91%;
  height: 25px;
  background-color: #f1f1f1;
  margin: 6px 0px 6px 12px; }
  .progress .progress-bar {
    position: absolute;
    color: black;
    text-align: center;
    opacity: 1;
    height: 100%; }
  .progress .selectedProgress {
    border-bottom: 3px outset #f1f1f1;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }
  .progress .percentage {
    font-size: 12px;
    padding: 4px;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100;
    text-shadow: -1px 0 #f1f1f1, 0 1px #f1f1f1, 1px 0 #f1f1f1, 0 -1px #f1f1f1; }

.limit {
  float: left;
  color: red;
  font-size: 12px;
  margin-left: 12px; }
